
:root{
    --mian-headingColor:hsl(243, 87%, 12%);
}
.container {
    font-family: 'Raleway', sans-serif;
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
}
@media (max-width:772px) {
    .container{
        text-align: center;
        margin: auto;
        width: 80%;
    }
    
}


.container .section{
    margin-block-start: 65px;
}
.container .description{
    margin-block-start: 25px;
    margin-block-end: 25px;
    max-width: 30rem;
}
.container .nav-bar {
    display: flex;
    justify-content: space-between;
    margin-block-start: 1.5rem;
    align-items: center;
   
}
.container .nav-bar .nav-bar-image img{
    width: 7.5rem;
}
@media (max-width:772px) {
    .container .nav-bar .nav-bar-image img{
        width: 5.5rem;
    }
}
.container .nav-bar .nav-bar-heading{
    display: flex;
    width:270px; 
    justify-content: space-evenly;
    color:#0c0c0c;
}
.container .section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .heading{
    color:var(--mian-headingColor);
    font-family: 'Raleway', sans-serif;
}
@media (max-width:772px){
    .container .section{
        flex-direction: column-reverse;
    }
    .container .heading{
        font-size: 25px;
    }
}
.container .files .info input[type = email]{
    width: 270px;
    height: 30px;
    margin-inline-end: 10px;
}
.container .files .info input[type = button]{
    width: 170px;
    height: 36px;
    background-color: hsl(224, 93%, 58%);
    color: white;
    border: none;
    border-radius: 3px;
}
.container .files .info input[type = button]:hover{
    cursor: pointer;
    opacity: .7;
}
@media (max-width:772px){
    .container .files .info input[type = button]{
        width: 280px;
        margin-block-start: 10px;
        margin-inline-start: -7px;
    }
}
.container .files .info{
    max-width: 31.25rem;
}
.container .image{
    width: 450px;
}
@media (max-width:772px){
    .container .image{
        width: 350px;
    }
}
.container .productive{
    background-image: url(../images/bg-curve-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 2rem;
}
@media (max-width:772px) {
    .container .heading2{
        color:var(--mian-headingColor);
        font-size: 19px;
        font-weight: bold;
    }
}

.container .productive .fylo-work {
    color: hsl(170, 45%, 43%);
}
.container .productive .fylo-work:hover{
    color:hsl(172, 71%, 56%);
}
.container .productive .info-person-card{
    background-color:white;
    width: 250px;
    padding: 10px 30px;
    margin-block-start: 2rem;
    box-shadow: 30px 20px 20px 3px rgba(235, 233, 233, 0.6);
}
@media (max-width:772px) {
    .container .productive .info .description,
    .container .productive .info-person-card{
        text-align: justify;
    }

}
.container .productive .info-person-card .quote-icon{
    width: 25px;
}
.container .productive .info-person-card .info-founder{
    display: flex;
    align-items: center;
}
.container .productive .info-person-card .info-founder .info-name{
    font-weight: bold;
    margin-block-end: -10px;
}
.container .productive .info-person-card .info-founder .info-dec{
    font-size: 13px;
}
.container .productive .info-person-card .info-founder img{
    width: 45px;
    height:45px;
    border-radius: 50%;
    margin-inline-end: 7px;
}