.container {
    font-family: 'Raleway', sans-serif;
}
.container .nav-bar {
    display: flex;
    justify-content: space-between;
    margin-block-start: 1.5rem;
    align-items: center;
   
}
.container .nav-bar .nav-bar-image img{
    margin-inline-start: 1rem;
    width: 7.5rem;
}
.container .nav-bar .nav-bar-heading{
    display: flex;
    width:270px; 
    justify-content: space-evenly;
    color:#0c0c0c;
}